$primary-color : rgba(0, 0, 0, 0.8);
$secondary-color : #f5f5f7;
$myopacity: .001;
$default-color: #c8a461;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
body{
    overflow-x: hidden;
    // font-size: 17px;
    // line-height: 1.4705882353;
    // font-weight: 400;
    // letter-spacing: -0.022em;
    // font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    // background-color: #fff;
    // color: #1d1d1f;
    // font-style: normal;

}